<div class="layout">
  <div class="layout__container">
    <div class="layout--desktop">
      <ng-container *ngTemplateOutlet="sidebar"></ng-container>
    </div>
    <div class="layout__content">
      <div class="layout__header">
        <div class="layout--mobile">
          <pui-button 
            class="layout__hamburger"
            (click)="toggleMobileSidebar()"
            variant="primary" 
            type="icon" 
            [icon]="getHamburgerIcon()">
          </pui-button>
          <div class="layout__mobile-sidebar" *ngIf="mobileSidebarOpen">
            <ng-container *ngTemplateOutlet="sidebar"></ng-container>
          </div>
        </div>
        <pui-profile
          class="layout__profile"
          [menuItems]="profileMenu"
          [profileName]="profileName" 
          [profilePic]="profilePic"
          [subscription]="subscription"
        ></pui-profile>
      </div>
      <ul class="layout__alert-items">
        <li @alert class="layout__alert-item" *ngFor="let alert of alerts; let i = index">
          <pui-alert  class="layout__alert" (alertClose)="popAlert(i)" [variant]="alert.variant" [closable]="true">{{alert.content}}</pui-alert>
        </li>
      </ul>
      <ng-content></ng-content>

    </div>
  </div>
</div>

<ng-template #sidebar>
  <nav class="layout__sidebar">
    <div>
      <pui-logo class="layout__logo" type="full" [height]="32"></pui-logo>
      <ul class="layout__sidebar-links">
        <li *ngFor="let menuItem of menuItems" tabindex="0" (keyup)="toggleMobileSidebar()" (click)="toggleMobileSidebar()"  [routerLink]="[menuItem.link]" routerLinkActive="layout__sidebar-link--active" class="layout__sidebar-link display-1r">
          <pui-icon
            class="layout__sidebar-link-icon"
            [iconName]="menuItem.icon"
          ></pui-icon>
          <span>{{menuItem.item}}</span>
        </li>
      </ul>
    </div>
    
    <ul class="layout__sidebar-links">
      <li class="layout__sidebar-link layout__sidebar-bottom-link display-1r">
        <pui-icon
          class="layout__sidebar-link-icon"
          iconName="icon-logout"
        ></pui-icon>
        <span tabindex="0" (keyup)="logout.emit()" (click)="logout.emit()">Log out</span>
      </li>
    </ul>
  </nav>
</ng-template>