@import '../public/assets/colors';
@import '../public/assets/breakpoints';
@import '../public/assets/sizes';

.layout {
  height: 100vh;

  @include xs {
    .layout--desktop {
      display: none;
    }
    .layout--mobile {
      display: block;
    }
  }
  @include lg {
    .layout--desktop {
      display: block;
    }
    .layout--mobile {
      display: none;
    }
  }
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include lg {
      justify-content: flex-end;
    }
  }
  &__sidebar {
    width: 100%;
    height: 100%;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $pui-white;
    &-links {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding: 0;
    }
    &-bottom-link {
      color: $pui-gray-3;
    }
    &-link {
      height: 70px;
      display: flex;
      align-items: center;
      padding: 0 30px;
      &--active {
        background-color: $pui-primary-300;
        color: $pui-white;
      }
      &-icon {
        margin-right: 10px;
        font-size: 25px;
      }
      &:hover {
        background-color: $pui-primary-300;
        color: $pui-white;
        cursor: pointer;
      }
    }
    @include lg {
      width: 280px;
    }
  }
  &__hamburger {
    display: block;
    margin-bottom: $pui-spacing-xsmall;
  }
  &__container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $pui-gray-1;
  }
  &__alert-items {
    margin: 0;
    position: absolute;
    z-index: 1500;
    width: 85%;
    right: 32px;
    @include md {
      width: 500px;
    }
  }
  &__alert-item {
    list-style-type: none;
    position: relative;
    width: 100%;
  }
  &__alert {
    margin-bottom: $pui-spacing-xxxsmall;
    display: block;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  }
  &__logo {
    margin: 70px 30px;
  }
  &__content {
    width: 100%;
    display: block;
    position: relative;
    overflow-x: hidden;
    padding: 60px 32px;
    @include lg {
      overflow-y: scroll;
    }
  }
  &__mobile-sidebar {
    position: fixed;
    z-index: 2000;
    left:0;
    width: 100%;
    margin-top: 16px;
    height: calc(100% - 131px);
  }
}
:host {
  display: block;
}
