<div [ngClass]="classes" class="select" tabindex="0" (blur)="closeDropdown()">
    <span class="select__label display-3b">{{label}}</span>
    <div class="select__input-box"  (click)="toggleDropDown()">
        <span class="select__selected-item">{{selected}}</span>
        <pui-icon *ngIf="isOpened; else isClosed" iconName="icon-chevron-up"></pui-icon>
    </div>
    <ul class="select__options" *ngIf="isOpened">
        <li *ngFor="let option of options; let i = index" (click)="select(i)" [ngClass]="{'select__option--selected': option === selected}" class="select__option">{{option}}</li>
    </ul>
</div>

<ng-template #isClosed>
    <pui-icon iconName="icon-chevron-down"></pui-icon>
</ng-template>