@use 'sass:math';
@import '../public/assets/sizes';
@import '../public/assets/colors';
@import '../public/assets/variables';
@import '../public/assets/typography/tokens';



.select {
    position: relative;
    &__input-box {
        height: $pui-spacing-small;
        border: 1px solid $pui-gray-2;
        padding: 0 math.div($base-padding, 4) 0 $base-padding;
        border-radius: $base-border-radius;
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        cursor: pointer;
        @include pui-label-03-r();
    }

    &--sm {

        .select__input-box, .select__option {
            @include pui-label-03-r();
            height: $pui-spacing-small;
        }
    }
    &--md {
        .select__input-box, .select__option {
            @include pui-label-02-r();
            height: $pui-spacing-medium;
        }
    }
    &--lg {
        .select__input-box, .select__option {
            @include pui-label-01-r();
            height: $pui-spacing-large;
        }

    }
    pui-icon {
        font-size: 24px;
        color: $pui-gray-3;
    }
    
    &__options {
        display: flex;
        flex-direction: column;
        border: 1px solid $pui-gray-2;
        list-style-type: none;
        padding: 0;
        border-radius: $base-border-radius;
        position: absolute;
        z-index: 1000;
        margin-top: 0;
        width: 100%;
        box-sizing: border-box;
    }
    &__selected-item {
        display: flex;
        align-items: center;
    }
    &__label {
        margin-bottom: $pui-spacing-xxxsmall;
        display: block;
    }
    &__option {
        height: $pui-spacing-small;
        padding: 0 $base-padding;
        background-color: $pui-white;
        display: flex;
        align-items: center;
        &:hover,&--selected {
            background-color: $pui-primary-300;
            color: $pui-white;
            cursor: pointer;
        }
    }
}