@import '../public/assets/sizes';
@import '../public/assets/colors';
@import '../public/assets/typography/tokens';

$alertVariants: (
    'primary': (
        'background-color': $pui-primary-100,
        'color': $pui-primary-400,
    ),
    'secondary': (
        'background-color': $pui-secondary-100,
        'color': $pui-secondary-400,
    ),
    'success': (
        'background-color': $pui-success-100,
        'color': $pui-success-400,
    ),
    'danger': (
        'background-color': $pui-danger-100,
        'color': $pui-danger-400,
    ),
    'warning': (
        'background-color': $pui-warning-100,
        'color': $pui-warning-400,
    ),
    'info': (
        'background-color': $pui-info-100,
        'color': $pui-info-400,
    ),
);

.alert {
    padding: $pui-spacing-xsmall;
}

@each $key, $val in $alertVariants {
    @each $nestedKey, $nestedVal in $val {
        .alert-#{$key} {
            padding: 0 $pui-spacing-xsmall;
            height: $pui-spacing-xxlarge;
            display: flex;
            justify-content: space-between;
            align-items: center;
            #{$nestedKey}: $nestedVal;
            @include pui-display-03-r();
        }
    }
}