<div [ngClass]="classes">
    <ng-content></ng-content>
    
    <!-- Change the icon to close -->
    <pui-button (click)="closeAlert()" [variant]="variant" *ngIf="closable" icon="icon-close"></pui-button>
</div>