@use 'sass:math';
@import '../public/assets/variables';
@import '../public/assets/colors';
@import '../public/assets/typography/tokens';

.form-field {
    display: flex;
    flex-direction: column;
    &__label {
        @include pui-label-03-b();
        margin-bottom: 8px;
    }
    &__input {
        border-radius: $base-border-radius;
        color: $pui-gray-4;
        padding: 0 $base-padding;
        border: 1px solid $pui-gray-2;
        box-sizing: border-box;;  
        height: 32px;
        @include pui-label-03-r();
        &:focus {
            outline: 2px solid $pui-gray-3;
            border: none;
        }
    }
    &--invalid {
        .form-field__input {
            border-color: $pui-error;
            color: $pui-error;
            &:focus {
                outline: 2px solid $pui-error;
                border: none;
            }
        }
    }
    &__error {
        @include pui-label-03-r();
        margin-top: math.div($base-padding, 2);
        color: $pui-error;
    }
}
.form-field--sm {
    @extend .form-field;
}
.form-field--md {
    @extend .form-field;
    .form-field__label {
        @include pui-label-02-b();
    }
    .form-field__input {
        @include pui-label-02-r();
        height: 40px;
    }
}
.form-field--lg {
    @extend .form-field;
    .form-field__label {
        @include pui-label-01-b();
    }
    .form-field__input {
        height: 48px;
        @include pui-label-01-r();
    }
}