<div class="form-field" [ngClass]="getClasses">
    <label class="form-field__label" [htmlFor]="id">{{label}}</label>
    <input [placeholder]="placeholder" (input)="processChange($event)" [value]="value" [id]="id" class="form-field__input" [type]="type"/>
    <div class="form-field__error" *ngIf="control.invalid && control.dirty">
        <ng-content select="[errorMessage]"></ng-content>
    </div>
</div>