@use 'sass:math';
@import '../public/assets/variables';
@import '../public/assets/sizes';
@import '../public/assets/typography/tokens';

.button {
    border-radius: 10px;
    background-color: transparent;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: math.div($base-padding, 2) $base-padding;
    font-size: 12px;
    font-weight: bold;
    &__suffix-icon {
        margin-left: 8px;
    }
    &__prefix-icon {
        margin-right: 8px;
    }
}
.btn-sm {
    height: $pui-spacing-small;
    @include pui-label-03-r();
    ::ng-deep {
        pui-icon {
            font-size: 16px;
        }
    }
}
.btn-md {
    height: $pui-spacing-medium;
    padding: auto $base-padding;
    font-size: 14px;
    @include pui-label-02-r();
    ::ng-deep {
        pui-icon {
            font-size: 20px;
        }
    }
}
.btn-lg {
    height: $pui-spacing-large;
    font-size: 16px;
    @include pui-label-01-r();
    padding: 0 $base-padding * 2;
    ::ng-deep {
        pui-icon {
            font-size: 24px;
        }
    }
}