<button [disabled]="disabled" class="btn" [ngClass]="classes">
    <pui-icon *ngIf="icon; else nonIconTemplate" [iconName]="icon"></pui-icon>
    <ng-template #nonIconTemplate>
        <pui-icon class="btn__prefix-icon" *ngIf="prefixIcon" [iconName]="prefixIcon"></pui-icon>
        <span>{{content}}</span>
        <pui-icon class="btn__suffix-icon" *ngIf="suffixIcon" [iconName]="suffixIcon"></pui-icon>
    </ng-template>
</button>