:host {
  display: flex;
  align-items: center;
}
@font-face {
  font-family: 'icomoon';
  src:  url('../public/fonts/icomoon.eot?m3pcie');
  src:  url('../public/fonts/icomoon.eot?m3pcie#iefix') format('embedded-opentype'),
    url('../public/fonts/icomoon.ttf?m3pcie') format('truetype'),
    url('../public/fonts/icomoon.woff?m3pcie') format('woff'),
    url('../public/fonts/icomoon.svg?m3pcie#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-account-box:before {
  content: "\e900";
}
.icon-account-circle:before {
  content: "\e901";
}
.icon-add-circle:before {
  content: "\e902";
}
.icon-bell-badge:before {
  content: "\e903";
}
.icon-camera-timer:before {
  content: "\e904";
}
.icon-cancel:before {
  content: "\e905";
}
.icon-card-multiple-outline:before {
  content: "\e906";
}
.icon-card-multiple:before {
  content: "\e907";
}
.icon-chat-processing-outline:before {
  content: "\e908";
}
.icon-chat:before {
  content: "\e909";
}
.icon-checkbox-multiple-blank:before {
  content: "\e90a";
}
.icon-chevron-down:before {
  content: "\e90b";
}
.icon-chevron-left:before {
  content: "\e90c";
}
.icon-chevron-right:before {
  content: "\e90d";
}
.icon-chevron-up:before {
  content: "\e90e";
}
.icon-clipboard-edit-outline:before {
  content: "\e90f";
}
.icon-clipboard-edit:before {
  content: "\e910";
}
.icon-close:before {
  content: "\e911";
}
.icon-content-copy:before {
  content: "\e912";
}
.icon-database:before {
  content: "\e913";
}
.icon-delete-circle:before {
  content: "\e914";
}
.icon-delete-outline:before {
  content: "\e915";
}
.icon-delete:before {
  content: "\e916";
}
.icon-download-circle-outline:before {
  content: "\e917";
}
.icon-download-circle:before {
  content: "\e918";
}
.icon-download:before {
  content: "\e919";
}
.icon-filter-menu-outline:before {
  content: "\e91a";
}
.icon-filter-menu:before {
  content: "\e91b";
}
.icon-filter:before {
  content: "\e91c";
}
.icon-first-page:before {
  content: "\e91d";
}
.icon-format-list-bulleted:before {
  content: "\e91e";
}
.icon-format-list-checkbox:before {
  content: "\e91f";
}
.icon-hamburger-menu:before {
  content: "\e920";
}
.icon-help:before {
  content: "\e921";
}
.icon-last-page:before {
  content: "\e922";
}
.icon-logout:before {
  content: "\e923";
}
.icon-notification-bell:before {
  content: "\e924";
}
.icon-notification-bell2 .path1:before {
  content: "\e925";
  color: rgb(0, 0, 0);
}
.icon-notification-bell2 .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(217, 217, 217);
}
.icon-question-mark:before {
  content: "\e927";
}
.icon-web:before {
  content: "\e928";
}
.icon-edit:before {
  content: "\e929";
}
