<div class="text-edit" [ngClass]="getClasses">
  <div class="text-edit__container">
    <div class="text-edit__input-container">
      <label class="text-edit__label" [htmlFor]="id">{{label}}</label>
      <input [type]="type" disabled="true" [value]="value" [id]="id" class="text-edit__input"/>
    </div>
    <pui-button (click)="edit.emit(value)" [size]="size" variant="primary" type="icon" icon="icon-edit"></pui-button>
  </div>
</div>