@use 'sass:math';
@import '../public/assets/variables';
@import '../public/assets/colors';
@import '../public/assets/typography/tokens';

.text-edit {
    display: flex;
    flex-direction: column;
    &__label {
        @include pui-label-03-b();
        margin-bottom: 8px;
    }
    &__container {
      display: flex;
      align-items: flex-end;
    }
    &__input-container {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    &__input {
        border-radius: $base-border-radius;
        color: $pui-gray-4;
        padding: 0 $base-padding;
        border: 1px solid $pui-gray-2;
        box-sizing: border-box;;  
        height: 32px;

        display: flex;
        @include pui-label-03-r();
        &:focus {
            outline: 2px solid $pui-gray-3;
            border: none;
        }
    }
    &--invalid {
        .text-edit__input {
            border-color: $pui-error;
            color: $pui-error;
            &:focus {
                outline: 2px solid $pui-error;
                border: none;
            }
        }
    }
    &__error {
        @include pui-label-03-r();
        margin-top: math.div($base-padding, 2);
        color: $pui-error;
    }
}
.text-edit--sm {
    @extend .text-edit;
}
.text-edit--md {
    @extend .text-edit;
    .text-edit__label {
        @include pui-label-02-b();
    }
    .text-edit__input {
        @include pui-label-02-r();
        height: 40px;
    }
}
.text-edit--lg {
    @extend .text-edit;
    .text-edit__label {
        @include pui-label-01-b();
    }
    .text-edit__input {
        height: 48px;
        @include pui-label-01-r();
    }
}