@import '../public/assets/colors';
@import '../public/assets/typography/tokens';

.link {
    color: $pui-primary-200;
    @include pui-display-04-r();
    &:hover {
        color: $pui-primary-300;
        cursor: pointer;
        text-decoration: underline;
    }

    &--primary {
        color: $pui-primary-200;
        &:hover {
            color: $pui-primary-300;
            cursor: pointer;
            text-decoration: underline;
        }
    }
    &--secondary {
        color: $pui-secondary-200;
        &:hover {
            color: $pui-secondary-300;
            cursor: pointer;
            text-decoration: underline;
        }
    }

    &--sm {
        @include pui-display-04-r();
    }
    &--md {
        @include pui-display-03-r();
    }
    &--lg {
        @include pui-display-01-r();
    }
}