@import '../public/assets/variables';
@import '../public/assets/colors';

.profile {
  position: relative;
  &__container {
    display: flex;
    cursor: pointer;
  }
  &__name-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 8px;
  }
  &__image {
    width: 60px;
    background-size: contain;
    border-radius: 50%;
    height: 60px;
    margin-right: 16px;
  }
  &__image-container {
    display: flex;
    align-items: center;
  }
  &__version,
  &__name {
    margin: 8px 0;
  }
  &__icon {
    font-size: 32px;
  }
  &__icon-container {
    display: flex;
    align-items: start;
    margin-top: 4px;
    cursor: pointer;
  }
  &__menu {
    list-style-type: none;
    padding:0;
    border-radius: 8px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    z-index: 100;
    &-item {
      height: 48px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      background-color: $pui-white;
      
      &-icon {
        margin-right: 8px;
      }

      &--active,
      &:hover {
        background-color: $pui-primary-300;
        color: $pui-white;
        cursor: pointer;
      }

    }
  }
}