<div class="profile">
  <div class="profile__container" tabindex="0" (keyup)="toggleMenu()" (click)="toggleMenu()">
    <div class="profile__image-container">
      <div class="profile__image" [ngStyle]="{backgroundImage: 'url('+ profilePic +')'}"></div>
    </div>
    <div class="profile__name-container">
      <span class="profile__name display-1b">{{profileName}}</span>
      <span class="profile__version label-3r">{{(subscription[0] | uppercase) + subscription.substr(1)}}</span>
    </div>
    <div class="profile__icon-container">
      <pui-icon class="profile__icon" [iconName]="menuOpened ? 'icon-chevron-up' : 'icon-chevron-down'"></pui-icon>
    </div>
  </div>
  
  <div tabindex="1" (keyup)="closeMenu()" (blur)="closeMenu()">
    <ul class="profile__menu" *ngIf="menuOpened">
      <li
        class="profile__menu-item display-3r" 
        *ngFor="let menuItem of menuItems"
        routerLinkActive="profile__menu-item--active"
        [routerLink]="[menuItem.link]"
        (keyup)="toggleMenu()"
        tabindex="1"
        (click)="toggleMenu()"
      >
        <pui-icon
          class="profile__menu-item-icon"
          [iconName]="menuItem.icon"
        ></pui-icon>
        <span>{{menuItem.item}}</span>
      </li>
    </ul>
  </div>
  </div>
  