@import '../colors';
 
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;

$pui-main-font-family: 'DM Sans', sans-serif;
$pui-heading-font-family: $pui-main-font-family;

/* Heading styles tokens */
@mixin pui-headline-01() {
    font-family: $pui-heading-font-family;
    font-size: 56px;
    line-height: 56px;
    font-weight: 700;
    letter-spacing: 0;
};
@mixin pui-headline-02 () {
    font-family: $pui-heading-font-family;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0;
};
@mixin pui-headline-03 () {
    font-family: $pui-heading-font-family;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0;
};
@mixin pui-headline-04 () {
    font-family: $pui-heading-font-family;
    font-size: 32px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: 0;
};
@mixin pui-headline-05() {
    font-family: $pui-heading-font-family;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0;
};
@mixin pui-headline-06() {
    font-family: $pui-heading-font-family;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0;
};

/* Display styles tokens */

@mixin pui-display-01-b() {
    font-family: $pui-main-font-family;
    font-size: 20px;
    line-height: 20px;   
    font-weight: 700;
    letter-spacing: 0;
};
@mixin pui-display-01-r() {
    font-family: $pui-main-font-family;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0;
};
@mixin pui-display-02-b() {
    font-family: $pui-main-font-family;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 0;
};
@mixin pui-display-02-r() {
    font-family: $pui-main-font-family;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0;
};
@mixin pui-display-03-b() {
    font-family: $pui-main-font-family;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0;
};
@mixin pui-display-03-r() {
    font-family: $pui-main-font-family;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0;
};
@mixin pui-display-04-b() {
    font-family: $pui-main-font-family;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    letter-spacing: 0;
};
@mixin pui-display-04-r() {
    font-family: $pui-main-font-family;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: 0;
};

/* Label style tokens */
@mixin pui-label-01-b() {
    font-family: $pui-main-font-family;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0;
};
@mixin pui-label-01-r() {
    font-family: $pui-main-font-family;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0;
};
@mixin pui-label-02-b() {
    font-family: $pui-main-font-family;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    letter-spacing: 0;
};
@mixin pui-label-02-r() {
    font-family: $pui-main-font-family;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: 0;
};
@mixin pui-label-03-b() {
    font-family: $pui-main-font-family;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    letter-spacing: 0;
};
@mixin pui-label-03-r() {
    font-family: $pui-main-font-family;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    letter-spacing: 0;
};

