@import './tokens';

h1, .h1 {
    @include pui-headline-01();
}
h2, .h2 {
    @include pui-headline-02();
}
h3, .h3 {
    @include pui-headline-03();
}
h4, .h4 {
    @include pui-headline-04();
}
h5, .h5 {
    @include pui-headline-05();
}
h6, .h6 {
    @include pui-headline-06();
}

.display-1r {
    @include pui-display-01-r();
}
.display-1b {
    @include pui-display-01-b();
}
.display-2r {
    @include pui-display-02-r();
}
.display-2b {
    @include pui-display-02-b();
}
.display-3r {
    @include pui-display-03-r();
}
.display-3b {
    @include pui-display-03-b();
}
.display-4r {
    @include pui-display-04-r();
}
.display-4b {
    @include pui-display-04-b();
}

.label-3r {
    @include pui-label-03-b();
}