@import './colors';
@import './variables';

$btn-variants: (
    "primary": $pui-primary,
    "danger": $pui-error,
    "secondary": $pui-secondary
);

@mixin btn($bg-color: $pui-gray-3, $color: $pui-white) {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: none;
    padding: $base-padding $base-padding * 2;
    border-radius: $base-border-radius;
    background-color: $bg-color;
    color: $color;
}

.btn,
.file-label {
    @include btn;
}

@function computeBackground($key, $prm-var, $sec-var, $dan-var) {
    @if $key == 'primary' {
        @return $prm-var;
    }
    @if $key == 'secondary' {
        @return $sec-var;
    }
    @if $key == 'danger' {
        @return $dan-var;
    }
}

@each $key, $val in $btn-variants {

    .btn-text-#{$key} {
        @include btn(transparent, $val);
        &:disabled, &:disabled:hover {
            color: $pui-gray-2;
            background: none;
        }
        &:hover, &:focus {
            background-color: computeBackground($key, $pui-primary-100, $pui-secondary-100, $pui-danger-100);
        }
        &:active {
            background-color: computeBackground($key, $pui-primary-300, $pui-secondary-300, $pui-danger-300);
            color: $pui-white;
        }
    }
    
    .btn-filled-#{$key}, .btn-icon-#{$key} {
        @include btn($val, $pui-white);
        &:disabled, &:disabled:hover {
            background-color: $pui-gray-2;
        }
        &:hover, &:focus {
            background-color: computeBackground($key, $pui-primary-400, $pui-secondary-400, $pui-danger-400);
        }
        &:active {
            background-color: computeBackground($key, $pui-primary-300, $pui-secondary-300, $pui-danger-300);
        }
    }

    .btn-outlined-#{$key} {
        @include btn(#fff, $val);
        background-color: none;
        border: $base-border-thickness solid $val;
        &:disabled, &:disabled:hover {
            border-color: $pui-gray-2;
            color: $pui-gray-2;
            background: none;
        }
        &:hover, &:focus {
            background-color: computeBackground($key, $pui-primary-100, $pui-secondary-100, $pui-danger-100);
        }
        &:active {
            background-color: computeBackground($key, $pui-primary-300, $pui-secondary-300, $pui-danger-300);
            color: $pui-white;
        }
    }
}