/* Primary and secondary colors */
$pui-primary: #092c4c;
$pui-primary-100: #d1eeff;
$pui-primary-200: #336796;
$pui-primary-300: #092c4c;
$pui-primary-400: #071f34;

$pui-secondary: #f2994a;
$pui-secondary-100: #fff5ec;
$pui-secondary-200: #f3ba88;
$pui-secondary-300: #f2994a;
$pui-secondary-400: #c67a36;



$pui-info: #2f80ed;
$pui-success: #27ae60;
$pui-warning: #ecb93b;
$pui-error: #eb5757;


/* State Colors */
$btn-variants: (
    "primary": $pui-primary,
    "danger": $pui-error,
    "secondary": $pui-secondary
);

/*Grey colors*/
$pui-gray-4: #4f4f4f;
$pui-gray-3: #828282;
$pui-gray-2: #bdbdbd;
$pui-gray-1: #ededed;

/* Black and white */
$pui-black: #000;
$pui-white: #fff;


$colors: (
    "primary": $pui-primary,
    "secondary": $pui-secondary,
    "info": $pui-info,
    "error": $pui-error,
    "success": $pui-success,
    "warning": $pui-warning,
    "black": $pui-black,
    "white": $pui-white,
);

$pui-danger-100: #fff2f2;
$pui-danger-200: #ff9797;
$pui-danger-300: #eb5757;
$pui-danger-400: #ae0000;

$pui-success-100: #c7ead5;
$pui-success-200: #8aebb3;
$pui-success-300: #27ae60;
$pui-success-400: #008036;

$pui-warning-100: #ffeebc;
$pui-warning-200: #f9dc85;
$pui-warning-300: #e2b93b;
$pui-warning-400: #bf9000;

$pui-info-100: #deecff;
$pui-info-200: #b2d3ff;
$pui-info-300: #2f80ed;
$pui-info-400: #013478;
