$pui-spacing-xxxxlarge: 80px;
$pui-spacing-xxxlarge: 72px;
$pui-spacing-xxlarge: 64px;
$pui-spacing-xlarge: 56px;
$pui-spacing-large: 48px;
$pui-spacing-medium: 40px;
$pui-spacing-small: 32px;
$pui-spacing-xsmall: 24px;
$pui-spacing-xxsmall: 16px;
$pui-spacing-xxxsmall: 8px;;