<div class="img-uploader">
  <div class="img-uploader__wrapper">
    <div class="img-uploader__image-container" [ngClass]="{'img-uploader--hide': view === 'preview'}">
      <img #image class="img-uploader__image" crossorigin="anonymous" [src]="initialImage" alt="" id="image">
    </div>
    <div class="img-uploader__image-container" [ngClass]="{'img-uploader--hide': view === 'edit'}">
      <img #previewImage class="img-uploader__image" crossorigin="anonymous" [src]="previewImageSrc" alt="" id="previewImage">
    </div>
    <form class="img-uploader__form" [ngClass]="{'img-uploader--hide': view === 'preview'}">
      <input  class="img-uploader__file-input" (change)="initNew($event)" type="file" id="file" accept="image/*" />
      <pui-button  class="img-uploader__preview-btn" size="md" *ngIf="cropper" variant="primary" (click)="showPreview($event)" content="Preview"></pui-button>

      <label class="img-uploader__file-label display-3r" for="file">
        Choose New
      </label>

    </form>
    <div class="img-uploader__preview-btns" [ngClass]="{'img-uploader--hide': view === 'edit'}">
      <pui-button  class="img-uploader__preview-btn" size="md"(click)="upload()" variant="primary" content="Upload"></pui-button>
      <pui-button  class="img-uploader__preview-btn" size="md" (click)="showEdit()"  variant="secondary" content="Adjust"></pui-button>
    </div>
  </div>
</div>