@import '../public/assets/colors';
@import '../public/assets/sizes';
@import '../public/assets/breakpoints';

$primary: #092C4C;
.container {
  position: relative;
}
:host {
  position: relative;
}
.data-table {
  overflow-x: scroll;
  @include md {
    overflow-x: unset;
  }
}
.table {
  width: 100%;
  border-collapse: collapse;
  &__header {
    text-align: left;
    background-color: $primary;
    border-radius: 4px;
    color: #fff;
    th {
      padding: $pui-spacing-xsmall $pui-spacing-small;
    }
    th:first-child {
      border-radius: 4px 0 0 4px;
    }
    th:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
  &__body {
    td {
      padding: 0 $pui-spacing-small;
      height: $pui-spacing-xxxxlarge;
      box-sizing: border-box;
      border-bottom: 1px solid $pui-gray-1;
    }
  }
  &__footer-selector {
    margin-left: 8px;
  }
  &__empty-template {
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__controls-btn {
    border: none;
    margin-left: 4px;
    background: none;
    color: $primary;
    cursor: pointer;
    @include xs {
      font-size: 12px;
    }
    @include md {
      font-size: 20px;
    }
  }
  &__column,
  &__heading {
    font-size: 14px;
    @include md {
      font-size: 20px;
    }
  }
  &__footer-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    margin-right: 16px;
    align-items: center;
    right: 0;
  }
  &__footer-reader-container {
    margin-right: $pui-spacing-small;
    @include xs {
      font-size: 12px;
    }
    @include md {
      font-size: 14px;
    }
  }
  &__footer-items-per-page-container {
    display: flex;
    margin-right: $pui-spacing-small;
    align-items: center;
  }
  &__controls-container {
    display: flex;
  }
  &__footer-items-per-page {
    margin-right: $pui-spacing-xxsmall;
    display: none;
    @include md {
      display: block;
    }
  }
  &__controls-btn {
    margin: 0 $pui-spacing-xxxsmall;
  }
  &__controls-btn:first-of-type {
    margin-left: 0;
  }
  &__controls-btn:last-of-type {
    margin-right: 0;
  }
}