<ng-container  *ngIf="!isLoading">
  <ng-container *ngIf="data.length; else tableEmpty">
    <div class="data-table">
      <table class="table">
        <thead class="table__header">
          <tr>
            <th class="display-1b table__heading" *ngFor="let columnHeading of columns">
              {{columnHeading}}
            </th>
          </tr>
        </thead>
        <tbody class="table__body">
          <tr *ngFor="let dataItem of displayedData">
            <td class="display-1r table__column" *ngFor="let colData of columns">
              <ng-container [ngTemplateOutlet]="columnTemplate ? columnTemplate : defaultColumnTemplate"
                [ngTemplateOutletContext]="{row: dataItem, column: colData}"></ng-container>
            </td>
          </tr>
        </tbody>
        <ng-template #defaultColumnTemplate let-row="row" let-column="column">
          {{row[column]}}
        </ng-template>
      </table>
    </div>
    <div class="table__footer-container display-4r">
      <div class="table__footer-items-per-page-container">
        <span class="table__footer-items-per-page">Items per page</span>
        <pui-select size="sm" [formControl]="qtySelector" [options]="qtySet"></pui-select>
      </div>
      <div class="table__footer-reader-container">
        <span>{{pageStats}}</span>
      </div>
      <div class="table__controls-container">
        <pui-icon (click)="goToFirstPage()" class="table__controls-btn" iconName="icon-first-page"></pui-icon>
        <pui-icon (click)="goToPrevPage()" class="table__controls-btn" iconName="icon-chevron-left"></pui-icon>
        <pui-icon (click)="goToNextPage()" class="table__controls-btn" iconName="icon-chevron-right"></pui-icon>
        <pui-icon (click)="goToLastPage()" class="table__controls-btn" iconName="icon-last-page"></pui-icon>
      </div>
    </div>
  </ng-container>
</ng-container>



<div *ngIf="isLoading">
  <div class="data-table">
    <table class="table">
      <thead class="table__header">
        <tr>
          <th class="display-1b" *ngFor="let columnHeading of columns">
            {{columnHeading}}
          </th>
        </tr>
      </thead>
    </table>
    <div class="table__empty-template">
      <pui-spinner></pui-spinner>
    </div>
  </div>
</div>

<ng-template #defaultEmptyTemplate>
  No Data Found
</ng-template>

<ng-template #tableEmpty>
  <div class="data-table">
    <table class="table">
      <thead class="table__header">
        <tr>
          <th class="display-1b" *ngFor="let columnHeading of columns">
            {{columnHeading}}
          </th>
        </tr>
      </thead>
    </table>
    <div class="table__empty-template">
      <ng-component *ngTemplateOutlet="emptyTemplate? emptyTemplate : defaultEmptyTemplate">
      </ng-component>
    </div>
  </div>
</ng-template>